<div class="flex justify-between">
    <app-logo></app-logo>
    <div class="flex gap-4 items-center">
        <span class="pi pi-search text-2xl"></span>
        <p-avatar 
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
        shape="circle" />
    </div>
</div>
<nav class="flex justify-evenly">
    <span class="pi pi-home text-2xl"></span>
    <span class="pi pi-shop text-2xl"></span>
    <span class="pi pi-users text-2xl"></span>
    <span class="pi pi-money-bill text-2xl"></span>
    <span class="pi pi-calendar-clock text-2xl"></span>
    <span class="pi pi-bell text-2xl"></span>
    <span class="pi pi-sign-in text-2xl"></span>
    <span class="pi pi-gift text-2xl"></span>
</nav>