<div class="bg-white w-full rounded-xl border-b-2">
  <div class="flex max-w-6xl justify-between px-4 py-2">
    <app-logo></app-logo>
    <div class="flex gap-4 items-center">
      <span class="pi pi-search text-3xl cursor-pointer"></span>
      @if(currentUser().id) {
      <p-avatar [image]="currentUser().avatar" shape="circle" />
      }
    </div>
  </div>
  <nav class="flex max-w-6xl justify-between px-4 py-2 items-center">
    <span [routerLink]="link.HOME.ROOT" routerLinkActive="border-b-2 border-secondary-color"
      class="pi pi-home text-3xl cursor-pointer"></span>
    <!-- <span class="pi pi-shop text-2xl"></span> -->
    <!-- <span class="pi pi-users text-2xl"></span> -->
    <!-- <span class="pi pi-cog text-2xl"></span> -->
    <span [routerLink]="link.ATTENDANCE.ROOT" routerLinkActive="border-b-2 border-secondary-color"
    class="pi pi-calendar-clock text-3xl cursor-pointer"></span>
    <span [routerLink]="link.PAYMENT.ROOT" routerLinkActive="border-b-2 border-secondary-color"
      class="pi pi-money-bill text-3xl cursor-pointer"></span>
    <span [routerLink]="link.EVENTS.ROOT" routerLinkActive="border-b-2 border-secondary-color"
      class="pi pi-gift text-3xl cursor-pointer"></span>
    <span [routerLink]="link.NOTIFY.ROOT" routerLinkActive="border-b-2 border-secondary-color"
      class="pi pi-bell text-3xl cursor-pointer"></span>
      @if(currentUser().id) {
        <span (click)="onLogoutClick()"
        class="pi pi-sign-out text-3xl cursor-pointer"></span>
      } @else {
        <span [routerLink]="link.LOGIN.ROOT" routerLinkActive="border-b-2 border-secondary-color"
        class="pi pi-sign-in text-3xl cursor-pointer"></span>
      }
  </nav>
</div>