<div class="flex flex-col bg-white w-full rounded-xl p-4 gap-4">
    <h3 class="font-bold text-2xl">Quên mật khẩu</h3>
    <div class="flex flex-col gap-2">
      <app-label-wrapper idLabel="email" label="Email" [isRequired]="true">
        <input class="w-full" id="email" type="email" pInputText />
      </app-label-wrapper>
    </div>

    <div class="flex justify-end gap-4">
      <p-button [routerLink]="login" outlined label="Trở lại" rounded></p-button> 
      <p-button class="min-w-fit" label="Lấy lại mật khẩu" rounded/> 
      
    </div>
  </div>