<div class="flex flex-col bg-white w-full rounded-xl p-4 gap-6">
  <h3 class="font-bold text-2xl">Quên mật khẩu</h3>
  <form class="flex flex-col gap-4" [formGroup]="forgotPasswordForm">
    <div class="flex gap-2 w-full">
      <app-label-wrapper class="w-full" 
      [isTouched]="!!forgotPasswordForm.get('email')?.touched" 
      [errorsControl]="forgotPasswordForm.get('email')?.errors" 
      idLabel="email" label="Email" [isRequired]="true">
        <input formControlName="email" class="w-full" id="email" type="email" pInputText />
      </app-label-wrapper>
    </div>
    <div class="flex gap-2 items-end">
      <app-label-wrapper 
      [isTouched]="!!forgotPasswordForm.get('code')?.touched" 
      [errorsControl]="forgotPasswordForm.get('code')?.errors" 
      idLabel="code" label="Code" [isRequired]="true">
        <div class="flex gap-2 items-center">
          <input id="code" formControlName="code" class="w-full" type="text" pInputText />
          <p-button styleClass="min-w-32" [disabled]="!forgotPasswordForm.get('email')?.value || !isButtonEnabled" (click)="onGetCodeClick()" class="min-w-fit"
          [badge]="countDownDisplay()" label="Lấy mã" rounded />
        </div>
      </app-label-wrapper>
    </div>

    <div class="flex gap-2 w-full">
      <app-label-wrapper 
        [isTouched]="!!forgotPasswordForm.get('password')?.touched" 
        [errorsGroup]="forgotPasswordForm.errors" 
        [errorsControl]="forgotPasswordForm.get('password')?.errors" 
        class="w-full" idLabel="password" label="Mật khẩu" [isRequired]="true">
        <input class="w-full" formControlName="password" id="password" type="password" pInputText />
      </app-label-wrapper>
    </div>

    <div class="flex gap-2 w-full">
      <app-label-wrapper 
        [isTouched]="!!forgotPasswordForm.get('confirmPassword')?.touched" 
        [errorsGroup]="forgotPasswordForm.errors" 
        [errorsControl]="forgotPasswordForm.get('confirmPassword')?.errors" 
        class="w-full" idLabel="confirmPassword" label="Xác nhận mật khẩu" [isRequired]="true">
        <input class="w-full" id="confirmPassword" formControlName="confirmPassword" type="password" pInputText />
      </app-label-wrapper>
    </div>
  </form>
  <div class="flex justify-end gap-4">
    <p-button [routerLink]="login" outlined label="Trở lại" rounded></p-button>
    <p-button class="min-w-fit" label="Xác nhận" rounded (click)="onChangePassword()" />
  </div>
</div>
<p-confirmDialog styleClass="w-11/12 md:w-fit"/>   
