<div class="flex flex-col rounded-xl bg-white p-4 gap-5">
  <div [routerLink]="homePath" class="flex cursor-pointer items-center gap-2">
    <span  class="pi pi-arrow-left text-3xl"></span>
  </div>
  
  @if(!itemDetail()) {
    <p class="text-center text-gray-500">Nội dung không tồn tại</p>
  } @else {
    <div class="rounded-xl p-4 min-h-40 bg-cover bg-no-repeat bg-center" class="{{itemDetail()?.background?.replace('==/==',' ')}}">
      {{itemDetail()?.content}}
    </div>
    <div class="flex flex-wrap gap-2 box-border justify-evenly">
    @for(item of itemDetail()?.images; track item) {
      <p-image 
      styleClass="border-2 rounded-xl overflow-clip"
      [src]="item" 
      alt="Image" 
      width="250" 
      [preview]="true" />
    }
  </div>
  }
  
</div>