<app-search-container-dialog  searchTitle="Tìm bạn bè" [initializeValue]="selectedItems()" [items]="items()"
  (onCloseDialog)="onCloseDialog($event)" [isMultipleSelect]="true" (searchInputChange)="searchInputChange($event)">
    <ng-template #contentRowTemplate let-data>
        <div class="flex gap-3 items-center">
            <p-avatar styleClass="w-12 h-12" size="large"
              [image]="data.item?.avatar" shape="circle" />
            <span class="text-base">{{data.item?.name}}</span>
        </div>
    </ng-template>
</app-search-container-dialog>