<div class="flex gap-2 flex-col">
  <div class="flex p-4 bg-white rounded-xl justify-between">
    <h3 class="font-bold text-xl leading-10">Điểm của bạn</h3>
    <div class="flex gap-2  items-center">
      <span class="text-base font-bold text-secondary-color">{{point()}}</span><img class="w-12 h-12" src="assets/images/coin.webp"/>
    </div>
  </div>
  <div class="p-4 bg-white rounded-xl">
    <h3 class="font-bold text-xl mb-4">Sự kiện</h3>
  
    @if(isEventLoading()) {
      <app-loading/>
    } @else {
      <p-carousel 
      [value]="events()" 
      [numVisible]="2" 
      [numScroll]="1" 
      [circular]="false" 
      autoplayInterval="3000"
      [responsiveOptions]="responsiveOptions"
      [showIndicators]="false">
          <ng-template let-event pTemplate="item">
              <div class="mb-4 flex flex-col justify-between border-2 p-3 rounded-xl mx-0.5">
                  <div class="aspect-video w-full rounded-xl overflow-clip mb-2">
                    <img 
                    [src]="event.thumbnail" 
                    [alt]="event.name" 
                    class="h-full w-full" />
                  </div>
                  <div class="font-xs font-bold text-center line-clamp-1 cursor-pointer" (click)="onClickViewDetail(event)">
                      {{ event.name }}
                  </div>
              </div>
          </ng-template>
      </p-carousel>
    }
    
  </div>

  <div class="flex flex-col gap-4 p-4 bg-white rounded-xl">
    <h3 class="font-bold text-xl">Đổi điểm lấy phụ kiện</h3>
    @if(isAccessoryRewardsLoading()) {
      <app-loading/>
    } @else {
      <p class="text-md text-center">Chưa có dữ liệu</p>
    }
  </div>
</div>
