/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
p-avatar {
    @apply flex items-center;
}

.p-menuitem-link {
    @apply py-2;
}
.p-menu-overlay {
    @apply rounded-md;
}
.p-avatar {
    @apply h-10 w-10;
}
.p-avatar>img {
    @apply w-full aspect-square;
}
.p-checkbox {
    @apply border-2 rounded-md w-6 h-6;
}

.p-dropdown {
    @apply border-2 w-full rounded-3xl;
}

.p-inputtext:not(.p-dropdown-label) {
    @apply bg-three-color rounded-3xl px-4 min-h-11;
}
.p-inputtextarea {
    @apply py-4 border-2;
}
.p-inputtext:hover {
    @apply bg-gray-color;
}
.p-inputtext:enabled:focus {
    @apply shadow-none border-2;
}

.p-dialog .p-dialog-content {
    @apply p-0;
}

.p-confirm-dialog .p-dialog-content {
    @apply px-6 py-4;
}

.p-confirm-dialog .p-dialog-footer {
    @apply flex justify-end gap-4 pt-4;
}
.p-confirm-dialog-accept, .p-confirm-dialog-reject {
    @apply px-4 py-2 min-w-14 w-fit rounded-md cursor-pointer;
}
.p-confirm-dialog-reject {
    @apply border-2  border-red-color text-red-color;
}

.p-confirm-dialog-reject:hover {
    @apply bg-red-600 text-white;
}

.p-confirm-dialog-accept {
    @apply bg-blue-500 text-white;
}

.p-confirm-dialog-accept:hover {
    @apply bg-blue-600;
}
.p-button:not(.p-button-link) {
    @apply min-h-11;
}
.p-button:not(.p-confirm-dialog-accept, .p-confirm-dialog-reject, .p-button-link, .p-button-outlined) {
    @apply bg-blue-500 border-blue-500 text-white px-4 py-2;
}

.p-button:not(.p-confirm-dialog-accept, .p-confirm-dialog-reject, .p-button-link, .p-button-outlined):hover {
    @apply bg-blue-600;
}

.p-button-outlined {
    @apply border border-blue-500 bg-white text-blue-500 px-4 py-2 min-w-fit cursor-pointer;
}

.p-button:not(.p-confirm-dialog-accept, .p-confirm-dialog-reject, .p-button-link, .p-button-outlined):hover {
    @apply bg-blue-600 text-white;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

@for $i from 1 through 1000 {
    .col-span-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
}

@for $i from 1 through 1000 {
    .grid-cols-#{$i} {
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
}

.zalo-icon::before {
    content: url('assets/images/zalo.svg');
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
  }