<div class="flex p-4 bg-white rounded-xl">
  <header class="flex flex-col gap-2 w-full">
    <h3 class="text-xl font-bold">
      Badmintion Calendar
    </h3>
    <div class="border-2 grid grid-cols-7 rounded-md overflow-clip">
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Thứ 2</div>
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Thứ 3</div>
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Thứ 4</div>
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Thứ 5</div>
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Thứ 6</div>
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Thứ 7</div>
      <div class="border-2 h-14 box-border flex items-center justify-center text-center">Chủ nhật</div>


      <div class="border-2 h-16 cursor-pointer box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>
      <div class="border-2 box-border flex items-center justify-center">1</div>

    </div>
  </header>
</div>