<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex items-center justify-between w-full">
      <span class="flex flex-col font-bold">
        {{paymentInfo().userName}}
        <small 
        [class.bg-green-400]="paymentInfo().status === paymentStatus.DONE"
        [class.bg-secondary-color]="paymentInfo().status === paymentStatus.WAITING"
        [class.bg-red-color]="paymentInfo().status === paymentStatus.LATE"
        class="text-white flex items-center justify-center max-w-fit px-2 py-1 rounded-xl">
          {{displayStatus[paymentInfo().status]}}
        </small>
      </span>
      @if(!isHiddenQrButton()) {
        <span class="pi pi-qrcode p-2 cursor-pointer" (click)="openScanQrCode()"></span>
      }
    </div>
  </ng-template>
  @if(isNotifyButton()) {
    <div class="flex gap-2 mb-4 justify-end">
      <p-button icon="pi pi-megaphone" size="small" rounded label="Nhắc nhở"></p-button>
    </div>
  }
  <p><span class="font-bold text-base">Id: </span> <i>#{{paymentInfo().id}}</i></p>
  <h3 class="font-bold text-base mt-4">Chi tiết</h3>
  <ul class="list-disc ml-5">
    @for(item of paymentInfo().detail; track item) {
      <li>
        <div class="flex justify-between items-center">
          <h4 class="font-bold text-sm">{{item.name}}</h4>
          <span class="text-sm">{{item.amount | currency: 'VND'}}</span>
        </div>
      </li>
    }
  </ul>
  <div class="flex justify-between items-center mt-4">
    <h3 class="font-bold text-base">Tổng tiền</h3>
    <p class="font-base">{{paymentInfo().total | currency: 'VND'}}</p>
  </div>
</p-panel>