<div class="bg-white p-4 rounded-xl gap-4 mb-2">
  <h3 class="text-2xl font-bold">Thanh toán</h3>
  <p-tabView>
    <p-tabPanel header="Chờ thanh toán">
      <app-payment-card [paymentInfo]="paymentInfo"></app-payment-card>
    </p-tabPanel>
    <p-tabPanel header="Đã thanh toán">
      <app-payment-card [isHiddenQrButton]="true" [paymentInfo]="paymentInfo"></app-payment-card>
    </p-tabPanel>
    @if(isAdmin() || isSupperAdmin()) {
      <p-tabPanel header="Thanh toán của thành viên">
        <div class="flex gap-2 mb-4">
          <input 
            [value]="keyword()" 
            placeholder="Từ khoá..." 
            class="w-full" 
            type="text" 
            pInputText 
            (input)="onSearchInputChange($event)"
            />
          <p-dropdown 
            [(ngModel)]="status"
            optionLabel="label" 
            optionValue="value" 
            placeholder="Trạng thái" 
            [options]="statusOptions" 
            (onChange)="onSearchStatusChange($event)"/>
        </div>
        <div class="flex flex-col gap-2">
          @for(item of paymentItemSearch(); track item) {
            <app-payment-card [isNotifyButton]="true" [paymentInfo]="item"></app-payment-card>
          }
        </div>
      </p-tabPanel>
    }
  </p-tabView>
</div>

<div class="bg-white p-4 rounded-xl gap-4">
  <h3 class="text-2xl font-bold">Quỹ nhóm</h3>
  <p-tabView>
    <p-tabPanel header="Thông tin quỹ nhóm">
      <ul class="flex flex-col">
        <li class="flex justify-between bg-secondary-color p-2 text-white"><h3 class="font-bold">Tổng ({{currentDate() | date: 'dd-MM-YYYY'}})</h3> {{100000 | currency: 'VND'}}</li>
        <li class="flex justify-between p-2"><h3 class="font-bold">Tháng 9</h3> {{70000 | currency: 'VND'}}</li>
        <li class="flex justify-between p-2"><h3 class="font-bold">Tháng 8</h3> {{70000 | currency: 'VND'}}</li>
        <li class="flex justify-between p-2"><h3 class="font-bold">Tháng 7</h3> {{70000 | currency: 'VND'}}</li>
        <li class="flex justify-between p-2"><h3 class="font-bold">Tháng 6</h3> {{70000 | currency: 'VND'}}</li>
        <li class="flex justify-between p-2"><h3 class="font-bold">Tháng 5</h3> {{70000 | currency: 'VND'}}</li>
      </ul>
    </p-tabPanel>
    @if(isAdmin() || isSupperAdmin()) {
      <p-tabPanel header="Tạo phiếu">
        <form [formGroup]="formPaymentGroup" class="flex flex-col gap-3">
          <app-label-wrapper 
          [isTouched]="!!formPaymentGroup.get('receivers')?.touched"
          [errorsControl]="formPaymentGroup.get('receivers')?.errors"  
          idLabel="receivers" label="Người nhận" [isRequired]="true">
            <p-multiSelect formControlName="receivers" [options]="userList()" optionLabel="label" optionValue="value" placeholder="Gửi đến người dùng" />
          </app-label-wrapper>
          <app-label-wrapper 
          [isTouched]="!!formPaymentGroup.get('type')?.touched"
          [errorsControl]="formPaymentGroup.get('type')?.errors" 
           idLabel="type" label="Loại">
            <p-dropdown formControlName="type" [options]="typeOptions"
            optionLabel="label" optionValue="value" />          </app-label-wrapper>
          <app-label-wrapper 
          [isTouched]="!!formPaymentGroup.get('title')?.touched"
          [errorsControl]="formPaymentGroup.get('title')?.errors" 
          idLabel="title" label="Tiêu đề" [isRequired]="true">
            <input class="w-full" formControlName="title" id="title" type="text" pInputText placeholder="Nhập tiêu đề"/>
          </app-label-wrapper>
          <app-label-wrapper 
          [isTouched]="!!formPaymentGroup.get('description')?.touched"
          [errorsControl]="formPaymentGroup.get('description')?.errors" 
          idLabel="description" label="Mô tả" [isRequired]="true">
            <textarea placeholder="Nhập mô tả" formControlName="description" rows="2" styleClass="w-full" pInputTextarea></textarea>
          </app-label-wrapper>
          <app-label-wrapper [isTouched]="!!formPaymentGroup.get('amount')?.touched"
          [errorsControl]="formPaymentGroup.get('amount')?.errors" 
           idLabel="amount" label="Số tiền" [isRequired]="true">
            <p-inputNumber styleClass="w-full" formControlName="amount" inputId="amount" placeholder="Nhập số tiền"/> 
          </app-label-wrapper>
          <app-label-wrapper idLabel="files" label="Biên nhận">
            <app-upload-file #fileUploadRef formControlName="files"></app-upload-file>
          </app-label-wrapper>
          <div class="flex justify-end mt-2">
            <p-button styleClass="min-w-28" label="Tạo" rounded (click)="onCreatePayment()"/>
          </div>
        </form>
      </p-tabPanel>
    }
    <p-tabPanel header="Lịch sử thu">
      <p-table 
        [value]="rechargeHistories" 
        responsiveLayout="stack" 
        [breakpoint]="'960px'" 
        [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>STT</th>
                <th>Nội dung thu</th>
                <th>Số tiền</th>
                <th>Ngày thu</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
            <tr>
                <td>
                    <span class="p-column-title">STT</span>{{item.name}}
                </td>
                <td>
                    <span class="p-column-title">Nội dung thu</span>{{item.price | currency:'USD'}}
                </td>
                <td>
                    <span class="p-column-title">Số tiền</span>{{item.price | currency:'VND'}}
                </td>
                <td>
                    <span class="p-column-title">Ngày thu</span>
                    {{item.createdAt}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr><td colspan="4" class="w-full text-center">Không có dữ liệu</td></tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Lịch sử chi">
      <p-table 
        [value]="withdrawHistories" 
        responsiveLayout="stack" 
        [breakpoint]="'500px'" 
        [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>STT</th>
                <th>Nội dung chi</th>
                <th>Biên nhận</th>
                <th>Số tiền</th>
                <th>Ngày chi</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
            <tr>
                <td>
                    <span class="p-column-title">STT</span>{{item.name}}
                </td>
                <td>
                    <span class="p-column-title">Nội dung thu</span><div class="line-clamp-2">{{item.content}}</div>
                </td>
                <td>
                    <span class="p-column-title">Biên nhận</span><img [src]="item.files?.[0]"/>
                </td>
                <td>
                    <span class="p-column-title">Số tiền</span>{{item.amount | currency:'VND'}}
                </td>
                <td>
                    <span class="p-column-title">Ngày chi</span>
                    {{item.createdAt}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr><td colspan="5" class="w-full text-center">Không có dữ liệu</td></tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>