<div class="bg-white p-4 rounded-xl gap-4">
  <h3 class="text-2xl font-bold">Thanh toán</h3>
  <p-tabView>
    @if(isAdmin()) {
      <p-tabPanel header="Tạo phiếu thu">
        Admin add phiếu thu
      </p-tabPanel>
    }
    <p-tabPanel header="Chờ thanh toán">
      <app-payment-card [paymentInfo]="paymentInfo"></app-payment-card>
    </p-tabPanel>
    <p-tabPanel header="Đã thanh toán">
      <app-payment-card [isHiddenQrButton]="true" [paymentInfo]="paymentInfo"></app-payment-card>
    </p-tabPanel>
    <p-tabPanel header="Thanh toán của thành viên">
      <div class="flex gap-2 mb-4">
        <input  placeholder="Từ khoá..." class="w-full" type="text" pInputText />
        <p-dropdown  optionLabel="label"
        optionValue="value" placeholder="Trạng thái" [options]="statusOptions"/>
      </div>
      <app-payment-card [isNotifyButton]="true" [paymentInfo]="paymentInfo"></app-payment-card>
    </p-tabPanel>
  </p-tabView>
</div>