<div class="bg-white p-4 rounded-xl gap-4">
  <h3 class="text-2xl font-bold">Thanh toán</h3>
  <p-tabView >
    <p-tabPanel header="Chờ thanh toán">
      <p-panel header="30-08-2024" [toggleable]="true">
        <p>
            Lorem ipsum dolor sit amet...
        </p>
      </p-panel>
    </p-tabPanel>
    <p-tabPanel header="Đã thanh toán">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Thanh toán của thành viên">
      <p>
        At vero eos et accusamus et iusto odio dignissimos...
      </p>
    </p-tabPanel>
  </p-tabView>
</div>