<div class="flex flex-col p-4 gap-4 text-black">
  <section class="flex w-full items-center justify-center gap-4">
    <h3 class="italic font-bold text-2xl text-center">One Team, One Dream, Endless Joy</h3>
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl">Nội dung</h3>
    <ul class="flex flex-col gap-4">
      <li>
        <h3 class="font-bold text-xl">Trách Nhiệm Của Người Chơi</h3>
        <ol class="ml-8 list-decimal">
          <li>Tuân thủ các quy định và quy tắc của nhóm</li>
          <li>Tham gia đúng thời gian qui định.</li>
          <li>Đóng quỹ và nộp phạt đúng thời gian thông báo.</li>
          <li>Tích cực tham gia các hoạt động phát triển nhóm</li>
          <li>Đăng kí các buổi tham gia cho tháng tiếp theo trước ngày cuối tháng. <strong>(Áp dụng cho tài khoản vãng
              lai)</strong></li>
        </ol>
      </li>
      <li>
        <h3 class="font-bold text-xl">Quyền Lợi Của Người Chơi</h3>
        <ol class="ml-8 list-decimal">
          <li>Được giao lưu, giải trí, rèn luyện sức khoẻ, xây dựng và mở rộng quan hệ với đồng nghiệp.</li>
          <li>Được tham gia sự kiện và nhận quà (Vợt cầu lông, giày, áo, quần, balo...). <strong>(Chỉ áp dụng cho tài
              khoản cố định)</strong></li>
          <li>Được tham gia các hoạt động ngoài trời (Cắm trại, Công viên nước, bắn súng sơn, ăn uống, ca hát...).
            <strong>(Chỉ áp dụng cho tài khoản cố định)</strong></li>
          <li>Được tham gia chương trình tích điểm đổi quà. <strong>(Chỉ áp dụng cho tài khoản cố định)</strong></li>
        </ol>
      </li>
      <li>
        <h3 class="font-bold text-xl">Qui định</h3>
        <ol class="ml-8 list-decimal">
          <li>Người chơi đầu tiên đến sân đúng giờ. <strong>+10K (Áp dụng cho tài khoản cố định)</strong></li>
          <li>Người chơi thứ 2 đến sân đúng giờ. <strong>+5K (Áp dụng cho tài khoản cố định)</strong></li>
          <li>Người chơi đi trễ 20 phút <strong>-10K (Áp dụng tất cả tài khoản)</strong></li>
          <li>Người chơi đi trễ 30 phút <strong>-15k (Áp dụng tất cả tài khoản)</strong></li>
          <li>Người chơi không tham gia buổi đã đăng kí <strong>-30k (Áp dụng tất cả tài khoản.)</strong><br><i>(Nếu
              trên <strong>60%</strong> tài khoản chấp nhận cho nghỉ sẽ không bị phạt tiền)</i></li>
          <li>Người chơi đóng tiền trễ sẽ bị phụ thu <strong>0.5%</strong> trên mức tiền phải đóng. (Trễ quá 1 tuần tài
            khoản bị khoá)</li>
          <li>Đối với tài khoản bị khoá muốn mở khoá phải thanh toán hết khoản nợ và kèm phí <strong>30K</strong> mở
            khoá.</li>
        </ol>
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>

  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>

  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>

  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>

  </section>
</div>