<header class="flex p-4 gap-4 items-center justify-between border-b-2 border-gray-color text-black">
  <div class="flex gap-4 w-full justify-between">
    <div class="flex gap-4">
      <span class="pi pi-arrow-left font-bold text-2xl cursor-pointer flex md:hidden" (click)="onClickCloseDialog()"></span>
       <h4 class="font-bold text-xl">{{title}}</h4>
    </div>
    <span class="pi pi-times font-bold text-2xl cursor-pointer hidden md:flex self-end" (click)="onClickCloseDialog()"></span>
  </div>
</header>
<app-terms-content></app-terms-content>