<header class="flex p-4 gap-4 items-center justify-between border-b-2 border-gray-color">
  <div class="flex gap-4">
    <span class="pi pi-arrow-left font-bold text-2xl cursor-pointer" (click)="onClickCloseDialog()"></span>
    <h4 class="font-bold text-xl">{{title}}</h4>
  </div>
</header>
<div class="flex flex-col p-4 gap-4">
  <section class="flex w-full items-center justify-center gap-4">
    <h3 class="italic font-bold text-2xl text-center">One Team, One Dream, Endless Joy</h3>
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl">Nội dung</h3>
    <ul>
      <li>
        Trách nhiệm
        <ul>
          <li>Tham gia đúng giờ qui định.</li>
          <li>Tham gia đúng giời qui định.</li>
        </ul>
      </li>
      <li>Quyền lợi
        <ul>
          <li></li>
        </ul>
      </li>
      <li>Nghĩa vụ
        <ul>
          <li>Đóng tiền đúng thời gian qui</li>
          <li>Tham gia đúng giời quy định.</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>
    
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>
    
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>
    
  </section>
  <section class="flex flex-col gap-4">
    <h3 class="font-bold text-2xl"></h3>
    
  </section>
</div>