<header class="flex p-4 gap-4 items-center justify-between border-b-2 border-gray-color">
  <div class="flex gap-4">
    <span class="pi pi-arrow-left font-bold text-2xl cursor-pointer" (click)="onClickCloseDialog()"></span>
    <h4 class="font-bold text-xl">{{title}}</h4>
  </div>
  <p-button class="min-w-fit" [disabled]="postFormGroup.invalid" [label]="buttonSubmitTitle" rounded
    (click)="onClickSubmit()" />
</header>
<form [formGroup]="postFormGroup">
  <section class="flex flex-col gap-4">
    <div class="flex gap-2 px-4 w-full mt-2 items-start">
      <p-avatar styleClass="w-14 h-14" size="large"
        [image]="titleGroup().avatar" shape="circle" />
      <div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center" [innerHTML]="userStatusDisplay()">

        </div>
        <p-dropdown styleClass="h-8 items-center text-xs" formControlName="scope" [options]="postScopeOptions"
          optionLabel="label" optionValue="value" />
      </div>
    </div>

    <div class="flex gap-2 px-4 w-full">
      <textarea formControlName="content" [placeholder]="placeholder"
        class="resize-none font-medium bg-cover bg-no-repeat bg-center text-xl w-full h-250 {{selectedBackgroundClass}}" rows="5"
        pInputTextarea></textarea>
    </div>

    <div
      class="flex gap-2 px-4 w-full scroll-smooth accent-transparent appearance-none cursor-all-scroll caret-transparent pointer-events-auto overflow-x-auto">
      <app-picker-color formControlName="background"></app-picker-color>
    </div>

    <div class="flex gap-2 px-4 py-1 w-full overflow-auto">
      <app-upload-file #fileUploadRef formControlName="images"></app-upload-file>
    </div>

    <div class="flex gap-2 px-4 py-1 w-full overflow-auto">
      <ul class="flex flex-col gap-3">
        <li class="flex gap-2 items-center cursor-pointer" (click)="openTagFriendDialog()">
          <span class="pi pi-user-plus text-2xl"> </span>
          <label class="leading-6 text-xl">Tag name</label>
        </li>
        <li class="flex gap-2 items-center cursor-pointer">
          <span class="pi pi-map-marker text-2xl"> </span>
          <label class="leading-6 text-xl">Add location</label>
        </li>
        <li class="flex gap-2 items-center cursor-pointer">
          <span class="pi pi-face-smile text-2xl"> </span>
          <label class="leading-6 text-xl">Feeling</label>
        </li>
      </ul>
    </div>
  </section>
</form>